

<h1>{{ name }}</h1>

<h1> hola</h1>
<h1>jejejejejeje</h1>
<dl>
  <td>Nombre:</td>
  <dd>{{name}}</dd>


  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription()}}</dd>


  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>


<button class="btn btn-primary mx-2"
(click)="changeHero()"
*ngIf="name !== 'Spiderman'">
  cambiar nombre
</button>
<button class="btn btn-primary mx-2"(click)="changeAge()" *ngIf="age !== 18">cambiar edad </button>


<button (click)="resetForm()" class="btn btn-primary mx-2"
> Reset Form</button>
